PROJECT_NAME=PLN Queridometro de Torcidas
MAX_POSTS=100
SEARCH_TERMS=Flamengo,Corinthians,Palmeiras
DATA_DIR=data
TWITTER_PROVIDER_NAME=third_party_twitter_api
TWITTER_API_BASE_URL=
TWITTER_API_KEY=
TWITTER_API_QUERY_PARAM=query
TWITTER_API_ITEMS_PATH=data
TWITTER_API_TEXT_FIELD=text
TWITTER_API_AUTH_HEADER=Authorization
TWITTER_API_AUTH_PREFIX=Bearer
